body {
  background-color: #5F6769;
  margin: 0;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  margin-top: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Martel', serif;
  font-size: 5.625rem;
  line-height: 2;
}

p {
  color: #F7F7F7;
}

h2 {
  color: #66BFBF;
  font-family: 'Martel', serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
}

a {
  color: #5F6769;
}

hr {
  background-color: #5F6769;
  border-style: none;
  border-color: #F7F7F7;
  border-top-style: dotted;
  border-width: 8px;
  width: 80px;
  height: 50px;
  margin-top: 15px;
}

.top-container {
  background-color: #5F6769;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
background-color: #66BFBF;
height: 150px;
vertical-align: text-bottom;
padding-bottom: 25px;
padding-top: 50px;
}
.dream{
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 230px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.ranboo {
margin-top: 6%;
height: 393px;
width: 383px;
}

.paragraph {
  text-align: center;
  font-size: 2.5rem;
  color: #66BFBF;
}

.skill-row {
  width: 50%;
  position: center;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.minecraft {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.portal {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.lol {
  text-align: center;

}

.empoy {
  width: 50%;
  margin: auto;
  padding-bottom: 8%;
}

.mili {
  padding-bottom: 55px;
}

.barbie {
  margin-top: 77px;
}

.footer-link {
  margin: 30px;
  text-decoration: none;
}

.btn {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 16px;
  position: relative;
  bottom: 66px;
}

.btn:hover {
  background-color: #66BFBF;
}
